/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
}

/*General Styles*/

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: url("images/white-texture.png") fixed;
    margin: 0;
}
h2{
    margin: 15px 30px;
}


/*Header*/

.header{
    background: url("images/grey-texture.png") fixed;
    padding: 15px 50px;
    font-size: 20px;
}

/*My Page*/

.my-page{
    direction: rtl;
    display: grid;
    grid-template-columns: auto auto;
    background: url("images/beige-texture.png") fixed;
    margin: 15px;
    border-radius: 4px;
}
.my-info{
    direction: ltr;
    text-align: center;
    width: 80%;
    margin: 25px;
    padding: 15px;
}
.profile-pic{
    width: 154px;
    height: 154px;
    margin: 15px;
    border-radius: 50%;
}
.my-info h3{
    margin: 15px;
    color: #4b2625;
}
.my-info a img{
    width: 24px;
    height: 24px;
}

/*My Friends*/

.my-friends{
    direction: ltr;
    margin: 25px;
    padding: 15px;
    width: 90%;
    max-width: 90%;
    max-height: 290px;
    overflow: auto;
    border: 3px solid #555;
    border-radius: 4px;
    color: #4b2625;
}
.top-box{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 3px solid #9c9681;
}
.top-box h3{
    font-size: 22px;
}
.top-box div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px 20px 20px;
    padding: 5px;
    font-weight: bold;
}
.new-friend{
    padding-left: 20px;
}

/*Users*/

.users{
    direction: rtl;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    background: url("images/beige-texture.png") fixed;
    margin: 15px;
    border-radius: 4px;
}
.user-card{
    direction: ltr;
    width: 80%;
    margin: 25px;
    padding: 15px;
}
.user-profile{
    width: 154px;
    height: 154px;
    margin: 15px;
    border-radius: 50%;
}
.user-name{
    margin: 15px;
    color: #4b2625;
}
.user-info{
    direction: ltr;
    margin: 25px;
    padding: 35px 10px;
    width: 85%;
    max-width: 85%;
    color: #4b2625;
    font-size: 18px;
}
.user-info #request{
    margin: 0 25px;
    padding: 4px 20px;
    background-color: rgba(136,255,125,0.9);
    border-radius: 3px;
    border: 2px solid #4b2625;
    color: #4b2625;
    font-weight: bold;
    transition: background-color 0.5s;
}
.user-info #request:hover{
    background-color: #b3ffad;
}
.user-info #reject{
    margin: 0 25px;
    padding: 4px 20px;
    background-color: rgba(255,48,3,0.66);
    border-radius: 3px;
    border: 2px solid #4b2625;
    color: #4b2625;
    font-weight: bold;
    transition: background-color 0.5s;
}
.user-info #reject:hover{
    background-color: #ffa073;
}

/*Footer*/

.footer{
    background: url("images/grey-texture.png") fixed;
    padding: 30px;
    text-align: center;
    color: #e9e7e6;
    font-size: 16px;
}

/*Responsive*/

@media only screen and (max-width: 500px){
    .my-page{
        display: block;
    }
    .users{
        display: block;
    }
}